extends ../templates/default.jade
block page

	section.section--header

		.section__wrap.section__wrap--header
			.section__body
				h1.section__title Preguntas frecuentes



	section.section--faq
		.section__wrap.section__wrap--md.section--md

			.section__header
				h3.section__title Preguntas generales

			.section__body
				.faq
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Lorem ipsum dolor sit
						.faq__answer
							.section__content
								p.section__description: +lorem(25)
								p.section__description: +lorem(25)

					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Dicta beatae libero illo
						.faq__answer
							.section__content
								p.section__description: +lorem(25)
								p.section__description: +lorem(25)

					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Similique omnis dolore accusamus labore dolor porro
						.faq__answer
							.section__content
								p.section__description: +lorem(25)
								p.section__description: +lorem(25)

			.section__header
				h3.section__title Requisitos

			.section__body
				.faq
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Architecto aperiam quo quis facilis
						.faq__answer
							.section__content
								p.section__description: +lorem(25)
								p.section__description: +lorem(25)

					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Dolore accusamus labore dolor porro, architecto aperiam
						.faq__answer
							.section__content
								p.section__description: +lorem(25)
								p.section__description: +lorem(25)
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Similique omnis dolore accusamus labore dolor porro
						.faq__answer
							.section__content
								p.section__description: +lorem(25)
								p.section__description: +lorem(25)
