extends ../templates/default.jade
block page
	section.section--media.section--media--form
		.section__wrap
			.section__body
				.cols
					.section__flex
						.col-md-6
							.section__img
								img(src="img/gif/1.gif")

						.col-md-6
							.section__content
								form.form
									.form__element
										.form__input
											input(type="#")

									.form__element
										.form__input
											select(name="#")
												option(value="#") Lorem
												option(value="#") Ipsum
												option(value="#") Dolor

									.form__element
										.form__input
											input(type="#" placeholder="Text")

									.form__element
										.form__input
											textarea(type="#")

									.form__element
										label
											input(type="checkbox" name="#ejemplo-checkbox" value="1")
											| Lorem ipsum
									.form__element
										label
											input(type="checkbox" name="#ejemplo-checkbox" value="2")
											| Amet consectetur
											
									.form__element
										label
											input(type="checkbox" name="#ejemplo-checkbox" value="3")
											| Libero aut


									.form__element
										label
											input(type="radio" name="#ejemplo-radio" value="1")
											| Beatae quod
									.form__element
										label
											input(type="radio" name="#ejemplo-radio" value="2")
											| Ipsum dolor sit
											
									.form__element
										label
											input(type="radio" name="#ejemplo-radio" value="3")
											| Vero repudiandae
