extends ../templates/default.jade
block page

	section.section--main 
		.section__wrap  
			.section__body 
				h2.section__title La solucion para la gestion de documentos que tu empresa estaba buscando 

	section.section--features
		.section__wrap 
			.section__header 
				h3.section__title Como Gesdoc facilita tu vida
				p.section__description: +lorem(20)
			.section__body 
				.cols 
					.col-xs-12.col-md-4
						.section__image 
							span.material-symbols-rounded event_upcoming
						h4.section__title Obtencion de documentos 
						p.section__description: +lorem(15)
					.col-xs-12.col-md-4
						.section__image 
							span.material-symbols-rounded event_upcoming
						h4.section__title Obtencion de documentos 
						p.section__description: +lorem(15)
					.col-xs-12.col-md-4
						.section__image 
							span.material-symbols-rounded event_upcoming
						h4.section__title Obtencion de documentos 
						p.section__description: +lorem(15)
			

	section.section--information 
		.section__wrap 
			.section__banner.section__banner--upper 
				.section__image 
					img(src="#")
				.section__body 
					h4.section__title Contrata un plan a tu medida
					p.secction__description: +lorem(15)
			.section__banner.section__banner--lower
				.section__image 
					img(src="#")
				.section__body 
					h4.section__title Contrata un plan a tu medida
					p.secction__description: +lorem(15)
			
	section.section--faq
		.section__wrap.section--md
			.section__body
				.faq
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Cras rhoncus purus orci, sed euismod lectus blandit accumsan.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Fusce facilisis vitae nisl eu ultrices. Integer volutpat eu justo vitae faucibus.
						.faq__answer
							.section__content
								p: +lorem(25)
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Phasellus eget nunc tempor felis suscipit aliquet.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Integer rhoncus justo nec enim accumsan, ut venenatis enim convallis.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Ut ornare ornare odio, vel ullamcorper orci hendrerit sit amet.
						.faq__answer
							.section__content
								p: +lorem(25)
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Cras rhoncus purus orci, sed euismod lectus blandit accumsan.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Fusce facilisis vitae nisl eu ultrices. Integer volutpat eu justo vitae faucibus.
						.faq__answer
							.section__content
								p: +lorem(25)
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Phasellus eget nunc tempor felis suscipit aliquet.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Integer rhoncus justo nec enim accumsan, ut venenatis enim convallis.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Ut ornare ornare odio, vel ullamcorper orci hendrerit sit amet.
						.faq__answer
							.section__content
								p: +lorem(25)
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Cras rhoncus purus orci, sed euismod lectus blandit accumsan.
						.faq__answer
							.section__content
								p: +lorem(25)
								
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Fusce facilisis vitae nisl eu ultrices. Integer volutpat eu justo vitae faucibus.
						.faq__answer
							.section__content
								p: +lorem(25)
					.faq__item
						h3.faq__question
							span.fa.fa-angle-down
							| Phasellus eget nunc tempor felis suscipit aliquet.
						.faq__answer
							.section__content
								p: +lorem(25)