
form
.form
	position relative

input
select
textarea
	display block
	width 100%
	padding 10px
	vertical-align top
	background white
	box-sizing border-box
	-webkit-appearance none
	appearance none
	font-weight 100
	&:focus
		box-shadow $shadow2

textarea
	min-height 200px
/*
input:-webkit-autofill
	box-shadow 0 0 0px 1000px #fff inset
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance none
	margin 0

input[type=checkbox]
	width 40px
	height @width
	display inline-block
	vertical-align middle
	margin-right 20px
	border-radius 8px
	box-shadow $shadow
	padding 0
	border none
	margin-bottom 5px
	background $light url('../img/icons/icon-checked.png') 50% -100% no-repeat
	&:checked
		background-position 50% 50%
	&:hover
		box-shadow $shadow2



input[type=radio]
	width 40px
	height @width
	display inline-block
	vertical-align middle
	margin-right 20px
	border-radius 20px
	box-shadow $shadow
	padding 0
	border none
	margin-bottom 5px
	position relative
	//background $light url('../img/icons/icon-radio.png') 50% -100% no-repeat
	&:before
		content ''
		display block
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		width 0%
		height 0%
		background-color $cyan
		border-radius 50%
		opacity 0
		transition .2s
	&:checked
		&:before
			width 50%
			height 50%
			opacity 1
	&:hover
		box-shadow $shadow2

select
	display inline-block
	border none
	opacity 1
	padding 10px 40px 10px 15px
	margin-bottom 0
	background url('../img/icons/icon-select.png') 95% 50% no-repeat

textarea
	height 100px
	overflow auto


.form__element
	padding-top 20px
	position relative
	display block
	&:hover
		cursor text
	&.form__element--center
		text-align center

	.form__title, .form__title__notfocus
		font-size $global-size-sm + 1
		font-weight 500
		position absolute
		left 0
		transition .2s ease
		transform-origin left top
		opacity .7
		top 0
		transform scale(.85)
		
	.form__title__notfocus
		top 0
		transform scale(1)

	.form__input
		position relative
		z-index 2
		input
		select
		textarea
			background-color white
			border 0
			border-radius 30px
			padding 25px 20px
			box-shadow $shadow
			color rgba(0,0,0,.7)
			padding-left 30px
			padding-right 0
			@media $break-md
				padding 30px 20px
			&:hover
				box-shadow $shadow2

		button 
			position absolute 
			top 50%
			right 0%
			transform translate(0%,-50%)
			margin-right 10px
			background-color $cyan
			border-radius 25px
			padding 15px 30px
			z-index 5
			@media $break-md
				padding 20px 30px

	label
		font-size 14px
		color $color_secondary

	.form__select
		position relative
		border-bottom 1px solid $light
		cursor pointer
		color $dark
		tap 0
		select
			display none
	
	&:after
		content ""
		position absolute
		bottom 0
		left 0
		width 0%
		height 2px
		border-radius 2px
		background black
		transition .5s
		z-index 2

	&.form__element--focused
		.form__input
			input, textarea, select
				box-shadow $shadow2


	&.form__element--focused
	&.form__element--file
		.form__input
			input, textarea, select
				box-shadow $shadow2

