
header
	height $header-height
	line-height $header-height
	position fixed
	top 0
	left 0
	width 100%
	z-index $z-index-header
	color white
	transition .5s
	background-color white
	font-family $font2
	a
		color $dark
	
	&.header--left
		left -50%
	

	.header__primary
		position relative
		z-index $z-index-header
		height 100%						

	.header__wrap
		position relative
		max-width $limit
		margin 0 auto
		height 100%

	.header__inner
		position relative
		height 100%
		text-align left

	.header__logo
		text-align center
		img
			display inline-block
			width 150px
			position relative
			top 12px

	.header__nav
		display none
		z-index 1
		.header__nav__back
		.header__nav__close
			position absolute
			top 8px
			width 50px
			height 50px
			z-index 3
			display none
			div
				height 2px
				background white
				width 15px
				position absolute
				top 50%
				left 50%
				margin-top -1px
				border-radius 2px
				margin-left (@width / -2)
				
		.header__nav__close
			right 0	
			div
				transform rotate(45deg)
				&:last-child
					transform rotate(135deg)	

		.header__nav__back
			left 0
			animation slideFadeLeft .5s ease
			div
				&:first-child
					transform-origin left top
					transform rotate(45deg)
					width 10px
				&:last-child
					transform-origin left bottom
					transform rotate(-45deg)
					width 10px		
		
		
	.header__ham
		position relative
		background-color transparent
		width 35px
		height 42px
		padding 12px 0
		display inline-block
		vertical-align middle
		border-radius $rad
		height @width
		text-align center
		height 45px
		span
			display block
			height 2px
			margin 0 auto 4px
			background white
			width 23px
			border-radius 10px
			transition .2s ease

	.header__right
		position absolute
		top 0px
		left 10px
		.header__item
			float left
			padding 30px 7px
			min-width 40px
			font-size 24px
			line-height 28px
			cursor pointer
			display none
			a
				color white
			//transition .2s ease
			span
				margin-left 5px
			
			.btn	
				color white
			&.header__item--social
				display none
					
			&.header__item--ham
				display block
				@media $break-limit
					display none

			&.header__item--profile
				display none	
				
		
		.header__ham
			span
				background white


	@media $break-limit-i

		.header__nav
			line-height $global-lh
			cover(fixed)
			text-align left
				

			.header__nav__nav
				position absolute
				top 0
				right 0
				width 100%
				height 100%
				background $color_secondary
				color $dark
				animation slideDown .5s ease
				
				
				nav
					&.header__nav__nav--desktop	
						display none
						
					&.header__nav__nav--mobile
						display block
				
				
				
				ul
					padding-top 20px
					li
						
						img
							padding-left 30px
							width 90px	
							
							margin initial
							margin 10px 0px 10px 0px
						
						a
							color white
							font-weight 400
							padding 15px 30px
							display block
							font-size $global-size-lg + 4
							font-weight 700
							.fa
								float right
								opacity .5

			.header__nav__profile
				text-align center
				margin 0 auto
				color white
				padding 10px
				.header__avatar
					circle(70px)
					margin 0 auto
					margin-bottom 5px
				.header__name
					font-size 24px
					line-height 28px
					font-weight bold
					text-transform capitalize
					margin-bottom 5px
				.header__mail
					font-size 16px
					line-height 18px
					margin-bottom 20px
				.header__logout
					a
						color $cyan
						font-size 18px

			.header__nav__close
				display block
			
			.header__nav__logo
				padding 20px
				img
					width 120px
			
			.header__nav__buttons
				display flex
				padding 40px 0px
				justify-content center
				.header__item
					margin 0 10px
			
			.header__nav__footer
				position absolute
				bottom 0
				left 0
				width 100%
				padding 40px
				.header__nav__socials
					display flex
					padding 40px 0px
					padding-bottom 20px
					justify-content center
					.header__nav__social
						padding 5px 10px
						font-size 28px
						span
							color white
				.header__nav__date
					color white
					font-size 18px
					line-height 22px
					text-align center
					.header__nav__number
						font-weight bold

			&.header__nav--ul-in
				.header__nav__back
					display block


		&.header--nav-in
			.header__nav
				display block

		&.header--nav-out
			.header__nav
				display block
				.header__nav__bg
					animation fadeOut .5s ease both
				.header__nav__nav
					animation slideUpOut .5s ease both



@media $break-md
	header
		height $header-height-md
		line-height $header-height-md + 2
		.header__wrap
			padding 0 40px

		.header__nav
			.header__nav__nav
				.header__nav__logo
					display block
				.header__nav__footer
					display block	
		.header__logo
			margin-left 0px
			margin-right 40px
			transition .5s
			float left
			img
				width 180px
				top 11px
				transition .5s	
					
		.header__right
			position relative
			float right
			.header__item
				display block
				a
					color white
				&.header__item--hide
					display none	




		.header__ham
			margin-right -20px
		
		.header__inner
		
			text-align center
			

		.header__nav
			//transition ease-in-out all .0s
			//margin-left 20px
			.header__nav-close
				display none
			.header__nav__back
				display none	
			.header__nav__footer, .header__nav__buttons, .header__nav__logo
				display none
			nav
				&.header__nav__nav--desktop	
					display block
				&.header__nav__nav--mobile	
					display none	
				
				.header__nav__title
					padding 15px
			ul
				padding-top 0
				
				&.header__nav__none
					display none
				
				li
					a
						font-size 10px		

			.header__nav__profile
				display none
			

@media $break-limit

	header
		background-color white
		color $dark
		box-shadow: 0 7px 30px -10px rgba(150,170,180,0.2);

		.header__ham
			display none

		.header__nav
			display inline-block
			text-align left
			ul
				li
					display inline-block
					position relative
					a
						letter-spacing 0.5px
						position relative
						padding 10px 10px
						line-height $header-height-md
						font-size $global-size-sm
						font-weight bold
						color $dark
						transition .5s
						&:after
							content ''
							position absolute
							width 100%
							transform scaleX(0)
							height 2px
							bottom 0
							left 0
							background-color $color_primary
							transform-origin bottom right
							transition transform 0.25s ease-out
						&:hover
							&:after
								transform scaleX(1)
								transform-origin bottom left

		.header__nav
			.header__nav__nav
				.header__nav__logo
					display none
				.header__nav__footer
					display none	
		
		.header__right

			.header__item
				&.header__item--profile
					display block
					padding-top 25px
					padding-bottom 25px
					.header__profile
						display flex
						jsutify-content center
						align-items center
						.header__profile__body
							text-align right
							.header__name
								font-size 14px
								line-height 18px
								font-weight bold
								text-transform capitalize
								margin-bottom 5px
							.header__mail
								font-size 12px
								line-height 16px
						.header__logout
							color $cyan
							font-size 14px	
							margin-left 10px
						.header__avatar
							margin-left 10px
							circle(60px)	
						

					

		