footer
    .footer__wrap
        .cols
            .col-xs-6.col-md-2
                .footer__links
                    ul
                        li.footer__links__title Menú
                        li: a(href="#") Inicio
                        li: a(href="#") Documentos
                        li: a(href="#") Legalidad
                        li: a(href="#") Términos y condiciones
            .col-xs-6.col-md-2
                .footer__links
                    ul
                        li.footer__links__title Ayuda
                        li: a(href="faq.html") Preguntas frecuentes
                        li: a(href="#") Contacto
                        li: a(href="#") Políticas
            
            .col-xs-12.col-md-8
                .footer__info
                    .footer__socials
                        ul
                            li 
                                a(href="#")
                                    span.fa.fa-facebook
                            li 
                                a(href="#")
                                    span.fa.fa-instagram
                            li 
                                a(href="#")
                                    span.fa.fa-youtube
                    
                    p.footer__description contacto@gestidoc.cl
                    p.footer__description +56 9 8484 4444
            
            .col-md-12
                .footer__copyright
                    .footer__logo
                        img(src="img/icons/logo-gestdoc-blue.svg")

                    .footer__description Todos los derechos reservados Gestdoc S.A 2020. Huerfanos 1120 of 1408, Santiago, CHile

                       