header
	.header__primary

		.header__wrap


			.header__inner

				.header__logo
					a(href="index.html")
						img(src="img/icons/logo-gestdoc-blue.svg")

				.header__nav
					.header__nav__bg

					.header__nav__nav

						.header__nav__close
							div
							div

						.header__nav__back
							div
							div
							div

						.header__nav__logo
							a(href="index.html")
								img(src="img/icons/logo-gestdoc-blue.svg")


						nav

							ul

								li: a(href="index.html") Cómo funciona
								li: a(href="aboutus.html") Nosotros
								li: a(href="docs.html") Documentos
						
						.header__nav__buttons
							.header__item
								a.btn(data-open-login) Ingresar

						.header__nav__footer
							.header__nav__socials
								.header__nav__social
									a(href="#")
										span.fa.fa-facebook
								.header__nav__social
									a(href="#")
										span.fa.fa-instagram
								.header__nav__social
									a(href="#")
										span.fa.fa-youtube
							
							.header__nav__date
								.header__nav__text contacto@gestdoc.cl
								.header__nav__number +56 9 8484 4444


				.header__right


					.header__item
						a.btn(data-open-login) Ingresar


					.header__item.header__item--ham
						.header__ham
							span
							span
							span




